extends layout

block content
  h1= title
  div(id="info")

  table.table   
    thead
      tr
        th Obrazek:
        th Nazwa:
        th Rodzaj:
        th Składniki:
        th Przygotowanie:
        th Autor:
        th Kasowanie:
        th Edytowanie:
    tbody     
      for recipe in recipes 
        .container
          tr
            td 
              img(src="/recipes/photo/"+recipe.id height='60')
            td= recipe.name
            td= recipe.kind
            td= recipe.ingredients
            td= recipe.preparation
            td= recipe.owner
            if (user == recipe.owner)
              td
               button.btn.btn-dark
                  a(href="/recipes/delete/"+recipe.id) KASUJ
              td 
                button.btn.btn-dark
                  a(href="/recipes/edit/"+recipe.id) EDYTUJ
            else
              td= "Niedostępne"
              td= "Niedostępne"
            

