extends layout

block content
  h1= title
  div(id="info")

  table.table  
    thead
      tr
        th="Imię"
        th="Nazwisko"
        th="Email"
        th="Opcje administracyjne"
        th=" "
      tbody
        for user in users 
          .container
            tr
              td= user.name
              td= user.surname
              td= user.email
              td
                button.btn.btn-dark
                  a(href="/users/delete/"+user.id) KASUJ 
              td
                button.btn.btn-dark
                  a(href="/users/update/"+user.id) EDYTUJ

